<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dados governamentais</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img src="/logo-conquer.png" class="logo" alt="logo conquer">
        Conquer
    </a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Busca" aria-label="Busca">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sair</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="file"></span>
                            Contratos <span class="sr-only">(Compras)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Licitações <span class="badge badge-primary">Em breve</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="truck"></span>
                            Fornecedores <span class="badge badge-primary">Em breve</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="archive"></span>
                            Materiais <span class="badge badge-primary">Em breve</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="clipboard"></span>
                            Serviços <span class="badge badge-primary">Em breve</span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Contratos - Compras</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="drowdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span data-feather="download"></span>
                            Exportar CSV
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/api/contrato/csv/cnpj" download="report-por-cnpj.csv">por CNPJ</a>
                            <a class="dropdown-item" href="/api/contrato/csv/origem" download="report-por-origem.csv">por Origem</a>
                            <a class="dropdown-item" href="/api/contrato/csv/assinatura" download="report-por-data-de-assinatura.csv">por Data Assinatura</a>
                        </div>
                    </div>
                </div>
            </div>

            <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

            <h2>Contratos</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Data assinatura</th>
                        <th>Origem licitação</th>
                        <th>Valor inicial</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="contrato : ${contratos}">
                        <td th:text="${contrato.cnpjFormatado}"/>
                        <td th:text="${contrato.dataAssinaturaFormatada}"/>
                        <td th:text="${contrato.origemLicitacao}"/>
                        <td th:text="${contrato.valorFormatado}"/>
                    </tr>

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
      feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
      window.onload = function () {
          var ctx = document.getElementById("myChart");

          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: [],
              datasets: [{
                data: [],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: false
                  }
                }]
              },
              legend: {
                display: false,
              }
            }
          });

           function addData(chart, label, data) {
                chart.data.labels.push(label);
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.push(data);
                });
                chart.update();
           }

          fetch("/api/contrato/chart/14")
          .then(response => response.json())
          .then(data => {
            for(let i = 0; i < data.length; i++) {
                addData(myChart, data[i].dataAssinatura, data[i].valorSomatoria);
            }
          });
      }
    </script>
</body>
</html>
